:root{
  --red: #f54e4e;
  --green: #4aec8c;
  --blue: #40a3ff;
  --yellow: #ffff6a;
  --main-color: #30384b;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body{
  background-color: var(--main-color);
  color: #eee;
}
main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;

}

.flex{
  display: flex;
  padding: 2rem 0;
  align-items: center;
}

.auto-start{
  flex-direction: row-reverse;
  justify-content: start;
  gap: 1rem;
}

.auto-start label{
  margin: 0px;
}

.settings-btn-container{
  justify-content: space-between;
}

.settings-btn{
  width: 3rem;
  height: 3rem;
  padding: 3px;
  transition: transform .2s ease-in-out;
}

.reset-btn{
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 5px;
  padding: 4px;
  transition: transform .3s ease-in-out;
}

.back-btn{
  width: 3rem;
  height: 3rem;
  padding: 3px;
}


.settings-reset-btns:focus{
  outline: 0;
  box-shadow: none;
}

button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.btn-with-text{
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.685);
  border-radius: 10px;
  padding: 0.5rem 0;
  transition-property: background-color,color;
  transition-duration: 100ms;
  transition-timing-function: linear;
  -webkit-transition-property: background-color,color;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
}



button.btn-with-text:focus{
  outline: 0;
  box-shadow: none;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.settings-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

h1{
  font-size: 1rem;
  text-align: left;
}

.flex.breakIntervalsIndicatorContainer{
  justify-content: center;
  gap: .5rem;
}

.breakIntervalsIndicator{
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--yellow);

}

.breakIntervalsIndicatorFinished{
  background-color: var(--yellow);
}

.play-pause-btns{
  transition: transform .1s ease-out;
}


@media (hover: hover) and (pointer: fine) {
  .settings-reset-btns:hover{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
  }
  
  button.btn-with-text:hover{
    background-color: rgba(255, 255, 255, 0.685);
    color: var(--main-color)
  }
/*   .play-pause-btns:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
  } */
  .play-pause-btns:focus{
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9);
    outline: 0;
    box-shadow: none;
  }
}